@import '~@teambit/base-ui-temp.theme.colors';

.scope {
  //TBD
  user-select: none;
  display: none;
}

.namespace {
  position: relative;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  font-weight: bold;
  font-size: inherit;
  padding-right: 8px;
  &:hover {
    background: var(--bg-topping-highlight);
  }

  .arrow {
    display: inline-block;
    line-height: inherit;
    transition: transform 400ms;
    margin-right: 10px;
    color: #878c9a;
    [data-collapsed='true'] & {
      transform: rotate(-0.25turn);
    }
  }
}

.left {
  display: flex;
  align-items: center;
  flex: 1;
  min-width: 0;
  .name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 8px;
  }
}

.componentTree {
  max-height: 0;
  overflow: hidden;
  transition: max-height 300ms ease-in-out;
  font-size: 14px;
  &.open {
    max-height: 100vh;
  }
}
